<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Sales Orders</h1>
    <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
    <button class="btn btn-outline-primary" [routerLink]="['/addOrder']">
      Add Order
    </button>
    <button class="btn btn-outline-success" [routerLink]="['/adduser']">
      Add User
    </button>
  </div>

  <h2>Orders</h2>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Order Date</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <td>{{ order.customerName }}</td>
          <td>{{ order.orderDate }}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-outline-primary" [routerLink]="['/edit',order.id]">Edit</button>
              <button class="btn btn-outline-danger" (click)="deleteOrder(order.id)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
